src/worflows/escalationworkflow.json
{
    "Comment": "Generic configurable workflow that handles dynamic steps based on input configuration",
    "StartAt": "InitializeWorkflow",
    "States": {
      "InitializeWorkflow": {
        "Type": "Pass",
        "Comment": "Initialize workflow with configuration and set up tracking",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex": 0,
          "maxRetries.$": "$.config.maxRetries",
          "globalTimeout.$": "$.config.globalTimeout",
          "context.$": "$.context",
          "results": []
        },
        "Next": "ProcessSteps"
      },
      
      "ProcessSteps": {
        "Type": "Choice",
        "Comment": "Check if there are more steps to process",
        "Choices": [
          {
            "Variable": "$.currentStepIndex",
            "NumericLessThanPath": "$.config.steps[*]",
            "Next": "GetCurrentStep"
          }
        ],
        "Default": "WorkflowComplete"
      },
      
      "GetCurrentStep": {
        "Type": "Pass",
        "Comment": "Extract current step configuration",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "$.currentStepIndex",
          "currentStep.$": "$.config.steps[$.currentStepIndex]",
          "context.$": "$.context",
          "results.$": "$.results",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout"
        },
        "Next": "DetermineStepType"
      },
      
      "DetermineStepType": {
        "Type": "Choice",
        "Comment": "Route to appropriate handler based on step type",
        "Choices": [
          {
            "Variable": "$.currentStep.type",
            "StringEquals": "lambda",
            "Next": "ExecuteLambda"
          },
          {
            "Variable": "$.currentStep.type",
            "StringEquals": "wait",
            "Next": "ExecuteWait"
          },
          {
            "Variable": "$.currentStep.type",
            "StringEquals": "choice",
            "Next": "ExecuteChoice"
          },
          {
            "Variable": "$.currentStep.type",
            "StringEquals": "parallel",
            "Next": "ExecuteParallel"
          },
          {
            "Variable": "$.currentStep.type",
            "StringEquals": "map",
            "Next": "ExecuteMap"
          },
          {
            "Variable": "$.currentStep.type",
            "StringEquals": "pass",
            "Next": "ExecutePass"
          }
        ],
        "Default": "UnsupportedStepType"
      },
      
      "ExecuteLambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Comment": "Execute Lambda function with dynamic configuration",
        "Parameters": {
          "FunctionName.$": "$.currentStep.functionName",
          "Payload.$": "$.currentStep.payload"
        },
        "ResultPath": "$.stepResult",
        "TimeoutSecondsPath": "$.currentStep.timeout",
        "Retry": [
          {
            "ErrorEquals": ["Lambda.ServiceException", "Lambda.AWSLambdaException", "Lambda.TooManyRequestsException"],
            "IntervalSecondsPath": "$.currentStep.retryConfig.intervalSeconds",
            "MaxAttemptsPath": "$.currentStep.retryConfig.maxAttempts",
            "BackoffRatePath": "$.currentStep.retryConfig.backoffRate"
          }
        ],
        "Catch": [
          {
            "ErrorEquals": ["States.ALL"],
            "Next": "HandleStepError",
            "ResultPath": "$.error"
          }
        ],
        "Next": "ProcessStepResult"
      },
      
      "ExecuteWait": {
        "Type": "Wait",
        "Comment": "Wait for specified duration",
        "SecondsPath": "$.currentStep.waitSeconds",
        "ResultPath": "$.stepResult",
        "Next": "ProcessStepResult"
      },
      
      "ExecuteChoice": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Comment": "Execute choice logic via Lambda for flexibility",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:GenericChoiceHandler",
          "Payload": {
            "choices.$": "$.currentStep.choices",
            "context.$": "$.context",
            "results.$": "$.results"
          }
        },
        "ResultPath": "$.choiceResult",
        "Next": "ProcessChoiceResult"
      },
      
      "ProcessChoiceResult": {
        "Type": "Pass",
        "Comment": "Process choice result and determine next step",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "$.choiceResult.Payload.nextStepIndex",
          "context.$": "$.context",
          "results.$": "$.results",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout"
        },
        "Next": "ProcessSteps"
      },
      
      "ExecuteParallel": {
        "Type": "Parallel",
        "Comment": "Execute parallel branches",
        "Branches": [
          {
            "StartAt": "ParallelBranch",
            "States": {
              "ParallelBranch": {
                "Type": "Task",
                "Resource": "arn:aws:states:::lambda:invoke",
                "Parameters": {
                  "FunctionName": "arn:aws:lambda:${AWS::Region}:${AWS::AccountId}:function:GenericParallelHandler",
                  "Payload": {
                    "branches.$": "$.currentStep.branches",
                    "context.$": "$.context"
                  }
                },
                "End": true
              }
            }
          }
        ],
        "ResultPath": "$.parallelResult",
        "Next": "ProcessStepResult"
      },
      
      "ExecuteMap": {
        "Type": "Map",
        "Comment": "Execute map iteration",
        "ItemsPath": "$.currentStep.items",
        "MaxConcurrencyPath": "$.currentStep.maxConcurrency",
        "Iterator": {
          "StartAt": "MapIteration",
          "States": {
            "MapIteration": {
              "Type": "Task",
              "Resource": "arn:aws:states:::lambda:invoke",
              "Parameters": {
                "FunctionName.$": "$.currentStep.iteratorFunction",
                "Payload": {
                  "item.$": "$",
                  "context.$": "$.context"
                }
              },
              "End": true
            }
          }
        },
        "ResultPath": "$.mapResult",
        "Next": "ProcessStepResult"
      },
      
      "ExecutePass": {
        "Type": "Pass",
        "Comment": "Execute pass state with dynamic result",
        "ResultPath": "$.stepResult",
        "ParametersPath": "$.currentStep.parameters",
        "Next": "ProcessStepResult"
      },
      
      "ProcessStepResult": {
        "Type": "Pass",
        "Comment": "Process step result and prepare for next iteration",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "States.MathAdd($.currentStepIndex, 1)",
          "context.$": "$.context",
          "results.$": "States.ArrayAppend($.results, $.stepResult)",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout"
        },
        "Next": "ProcessSteps"
      },
      
      "HandleStepError": {
        "Type": "Choice",
        "Comment": "Handle step errors based on configuration",
        "Choices": [
          {
            "Variable": "$.currentStep.onError",
            "StringEquals": "continue",
            "Next": "ProcessStepResult"
          },
          {
            "Variable": "$.currentStep.onError",
            "StringEquals": "retry",
            "Next": "RetryStep"
          },
          {
            "Variable": "$.currentStep.onError",
            "StringEquals": "skip",
            "Next": "SkipStep"
          }
        ],
        "Default": "WorkflowFailed"
      },
      
      "RetryStep": {
        "Type": "Wait",
        "Seconds": 5,
        "Next": "DetermineStepType"
      },
      
      "SkipStep": {
        "Type": "Pass",
        "Comment": "Skip current step due to error",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "States.MathAdd($.currentStepIndex, 1)",
          "context.$": "$.context",
          "results.$": "States.ArrayAppend($.results, {\"skipped\": true, \"reason\": \"error\"})",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout"
        },
        "Next": "ProcessSteps"
      },
      
      "UnsupportedStepType": {
        "Type": "Fail",
        "Comment": "Unsupported step type encountered",
        "Cause": "Unsupported step type in workflow configuration"
      },
      
      "WorkflowComplete": {
        "Type": "Pass",
        "Comment": "Workflow completed successfully",
        "Parameters": {
          "status": "completed",
          "workflowId.$": "$.workflowId",
          "results.$": "$.results",
          "completedAt.$": "$$.State.EnteredTime"
        },
        "End": true
      },
      
      "WorkflowFailed": {
        "Type": "Fail",
        "Comment": "Workflow failed due to unhandled error",
        "CausePath": "$.error.Cause"
      }
    }
  }