src/worflows/v3.json
{
    "Comment": "Optimized configurable workflow with dynamic steps and proper error handling",
    "StartAt": "InitializeWorkflow",
    "States": {
      "InitializeWorkflow": {
        "Type": "Pass",
        "Comment": "Initialize workflow with configuration and calculate step count",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex": 0,
          "stepCount.$": "States.ArrayLength($.config.steps)",
          "maxRetries.$": "$.config.maxRetries",
          "globalTimeout.$": "$.config.globalTimeout",
          "context.$": "$.context",
          "results": [],
          "retryCount": 0
        },
        "Next": "ProcessSteps"
      },
      "ProcessSteps": {
        "Type": "Choice",
        "Comment": "Check if there are more steps to process",
        "Choices": [
          {
            "Next": "GetCurrentStep",
            "Variable": "$.currentStepIndex",
            "NumericLessThanPath": "$.stepCount"
          }
        ],
        "Default": "WorkflowComplete"
      },
      "GetCurrentStep": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Comment": "Extract current step configuration and prepare execution",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-west-2:787306238348:function:GEO-GetCurrentStepConfig:$LATEST",
          "Payload": {
            "config.$": "$.config",
            "currentStepIndex.$": "$.currentStepIndex",
            "context.$": "$.context",
            "results.$": "$.results"
          }
        },
        "ResultPath": "$.currentStepData",
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "WorkflowFailed",
            "ResultPath": "$.error"
          }
        ],
        "Next": "DetermineStepType"
      },
      "DetermineStepType": {
        "Type": "Choice",
        "Comment": "Route to appropriate handler based on step type",
        "Choices": [
          {
            "Variable": "$.currentStepData.Payload.currentStep.type",
            "StringEquals": "lambda",
            "Next": "ExecuteLambda"
          },
          {
            "Variable": "$.currentStepData.Payload.currentStep.type",
            "StringEquals": "wait",
            "Next": "ExecuteWait"
          },
          {
            "Variable": "$.currentStepData.Payload.currentStep.type",
            "StringEquals": "choice",
            "Next": "ExecuteChoice"
          }
        ],
        "Default": "UnsupportedStepType"
      },
      "ExecuteLambda": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Comment": "Execute Lambda function with dynamic configuration",
        "Parameters": {
          "Payload.$": "$.currentStepData.Payload.currentStep.payload",
          "FunctionName": "arn:aws:lambda:us-west-2:787306238348:function:GEO-Contact:$LATEST"
        },
        "ResultPath": "$.stepExecutionResult",
        "TimeoutSeconds": 300,
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "HandleStepError",
            "ResultPath": "$.error"
          }
        ],
        "Next": "ProcessStepResult"
      },
      "ExecuteWait": {
        "Type": "Wait",
        "Comment": "Wait for specified duration",
        "SecondsPath": "$.currentStepData.Payload.currentStep.waitSeconds",
        "Next": "IncrementCurrentIndex"
      },
      "ExecuteChoice": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Comment": "Execute choice logic via Lambda for flexibility",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-west-2:787306238348:function:GEO-AcknowledgmentHandler:$LATEST",
          "Payload": {
            "choices.$": "$.currentStepData.Payload.currentStep.choices",
            "context.$": "$.context",
            "results.$": "$.results",
            "currentStepIndex.$": "$.currentStepIndex"
          }
        },
        "ResultPath": "$.choiceResult",
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "HandleStepError",
            "ResultPath": "$.error"
          }
        ],
        "Next": "ProcessChoiceResult"
      },
      "ProcessChoiceResult": {
        "Type": "Pass",
        "Comment": "Process choice result and determine next step with bounds checking",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "$.choiceResult.Payload.nextStepIndex",
          "stepCount.$": "$.stepCount",
          "context.$": "$.choiceResult.Payload.updatedContext",
          "results.$": "$.choiceResult.Payload.updatedResults",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout",
          "retryCount": 0
        },
        "Next": "ValidateChoiceIndex"
      },
      "ValidateChoiceIndex": {
        "Type": "Choice",
        "Comment": "Validate that choice didn't set invalid step index",
        "Choices": [
          {
            "And": [
              {
                "Variable": "$.currentStepIndex",
                "NumericGreaterThanEquals": 0
              },
              {
                "Variable": "$.currentStepIndex",
                "NumericLessThanPath": "$.stepCount"
              }
            ],
            "Next": "ProcessSteps"
          }
        ],
        "Default": "WorkflowComplete"
      },
      "ProcessStepResult": {
        "Type": "Task",
        "Resource": "arn:aws:states:::lambda:invoke",
        "Comment": "Process step result and update accumulated results",
        "Parameters": {
          "FunctionName": "arn:aws:lambda:us-west-2:787306238348:function:GEO-ProcessStepResult:$LATEST",
          "Payload": {
            "context.$": "$.context",
            "results.$": "$.results",
            "stepExecutionResult.$": "$.stepExecutionResult",
            "currentStepIndex.$": "$.currentStepIndex",
            "currentStep.$": "$.currentStep"
          }
        },
        "ResultPath": "$.processedResult",
        "Retry": [
          {
            "ErrorEquals": [
              "Lambda.ServiceException",
              "Lambda.AWSLambdaException",
              "Lambda.TooManyRequestsException"
            ],
            "IntervalSeconds": 2,
            "MaxAttempts": 3,
            "BackoffRate": 2
          }
        ],
        "Catch": [
          {
            "ErrorEquals": [
              "States.ALL"
            ],
            "Next": "HandleStepError",
            "ResultPath": "$.error"
          }
        ],
        "Next": "IncrementCurrentIndex"
      },
      "IncrementCurrentIndex": {
        "Type": "Pass",
        "Comment": "Increment step index and maintain state",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "States.MathAdd($.currentStepIndex, 1)",
          "stepCount.$": "$.stepCount",
          "context.$": "$.processedResult.Payload.updatedContext",
          "results.$": "$.processedResult.Payload.updatedResults",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout",
          "retryCount": 0
        },
        "Next": "ProcessSteps"
      },
      "HandleStepError": {
        "Type": "Choice",
        "Comment": "Handle step errors based on configuration and retry limits",
        "Choices": [
          {
            "And": [
              {
                "Variable": "$.currentStepData.Payload.currentStep.onError",
                "StringEquals": "retry"
              },
              {
                "Variable": "$.retryCount",
                "NumericLessThanPath": "$.maxRetries"
              }
            ],
            "Next": "RetryStep"
          },
          {
            "Variable": "$.currentStepData.Payload.currentStep.onError",
            "StringEquals": "continue",
            "Next": "IncrementCurrentIndex"
          }
        ],
        "Default": "WorkflowFailed"
      },
      "RetryStep": {
        "Type": "Pass",
        "Comment": "Increment retry count and wait before retry",
        "Parameters": {
          "workflowId.$": "$.workflowId",
          "config.$": "$.config",
          "currentStepIndex.$": "$.currentStepIndex",
          "stepCount.$": "$.stepCount",
          "context.$": "$.context",
          "results.$": "$.results",
          "maxRetries.$": "$.maxRetries",
          "globalTimeout.$": "$.globalTimeout",
          "retryCount.$": "States.MathAdd($.retryCount, 1)",
          "currentStepData.$": "$.currentStepData"
        },
        "Next": "WaitBeforeRetry"
      },
      "WaitBeforeRetry": {
        "Type": "Wait",
        "Seconds": 5,
        "Next": "DetermineStepType"
      },
      "UnsupportedStepType": {
        "Type": "Fail",
        "Comment": "Unsupported step type encountered",
        "Cause": "Unsupported step type in workflow configuration"
      },
      "WorkflowComplete": {
        "Type": "Pass",
        "Comment": "Workflow completed successfully",
        "Parameters": {
          "status": "completed",
          "workflowId.$": "$.workflowId",
          "results.$": "$.results",
          "context.$": "$.context",
          "completedAt.$": "$$.State.EnteredTime"
        },
        "End": true
      },
      "WorkflowFailed": {
        "Type": "Fail",
        "Comment": "Workflow failed due to unhandled error",
        "Cause": "Workflow execution failed due to unhandled error"
      }
    }
  }